body{
    height: 100vh;
    background-image: url(/download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    text-align: center;
    color: aquamarine;
} 
 
p{
    font-weight: bold;
    margin-top: 90%;
    color: white;
   
}
